NUXT_PUBLIC_GOOGLE_CLIENT_ID=
NUXT_PUBLIC_JOBFLOW_SPREADSHEET_ID=
NUXT_PUBLIC_GOOGLE_SHEETS_SCOPE=https://www.googleapis.com/auth/spreadsheets
NUXT_PUBLIC_GOOGLE_API_BASE=https://sheets.googleapis.com/v4
NUXT_PUBLIC_DEFAULT_LOCALE=en
NUXT_PUBLIC_FALLBACK_LOCALE=en
NUXT_PUBLIC_APP_ENV=local
NUXT_PUBLIC_SENTRY_DSN=
